/* Mainly just for Landing Page*/

.header-landing {
    background-image: url("../static/images/5327B/5327decal.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: auto;
}

.title {
    margin: 0;
    font-family: "Product Sans";
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 5em;
    /* font-size: 275%; */
    display: block;
    z-index: 1;
    position: center;
    transform: skew(20deg);
    margin-left: 13px;
    padding: .2em;
}

.titleCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 42vh;
}

.titleBackground{
    padding: 10px;
    display: block;
    position: relative;
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background-color: #241f20;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* General Stuff */

    .gradientBackgroundText{
        background: linear-gradient(45deg, #216ae0, #d10300);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .contentContainer{
        margin: 2em 6em;
    }

    .contentTitle{
        font-family: 'Product Sans', sans-serif;
        font-size: 3em;
        font-weight: normal;
    }

    .bodyText{
        margin-top: 0;
        font-family: 'Product Sans', sans-serif;
        font-size: 2em;
        color: white;
        display: block;
    }

    .themeBackground{
        background-color: #191919;
    }

    .secondaryBackground{
        background-color: #241f20
    }

    .bold{
        background: linear-gradient(45deg, #216ae0, #d10300);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        font-weight: bold;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .whiteText{
        color: white;
    }


/* Awards Section */

    .excellence{
        color: gold;
    }

    .awardsList{
        margin-left: 1.2em;
    }

/* Member Bios Section */

/* Design 2*/

    .downIcon{
        margin: .2em;
    }

    .fa-chevron-down{
        transform: rotate(0deg);
        transition: all 0s linear;
        -moz-transition: all 0s linear;
        -webkit-transition: all 0s linear;
    }

    .fa-chevron-down.open{
        transform: rotate(180deg);
        transition: all 0s linear;
        -moz-transition: all 0s linear;
        -webkit-transition: all 0s linear;
    }

    .hidden{
        display: none;
    }

    .show{
        display: block;
    }

/* Design 1*/

    .imgContainer{
        margin-left: 6vw;
        margin-right: 6vw;
        margin-bottom: 5vh;
        padding: 2em;
        border-radius: 25px;
        border-style: solid;
        border-color: white;
        float: none;
    }

    .imgText{
        font-family: 'Product Sans', sans-serif;
        font-size: 2em;
        color: white;
        display: inline;
    }

    .roundImg{
        margin-top: 1em;
        border-radius: 100%;
        display: inline-block;
        float: left;
        margin-right: 2em;
    }

    .imgContainer:hover .imgText{
        background: linear-gradient(45deg, #216ae0, #d10300);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .imgText2{
        font-family: 'Product Sans', sans-serif;
        font-size: 2em;
        color: white;
        display: inline;

    }

    .imgContainer:hover .imgText2{
        color:black;
    }

    .imgContainer:hover{
        background: white;
        opacity: 1;
    }

    .imgContainer2{
        margin-left: 6vw;
        margin-right: 6vw;
        margin-bottom: 5vh;
        padding: 2em;
        border-radius: 25px;
        border-style: solid;
        border-color: white;
        float: none;
    }

    .imgContainer2:hover{
        background: linear-gradient(45deg, #216ae0, #d10300);
        opacity: 1;
    }



/* jank way to make sure that Rishi's navbar goes over current page*/

    .top{
        z-index: 5;
    }
    .bottom{
        z-index:0;
    }


/* anish's code; not 100% working w/ other parts yet */

    .parallelogram-back {
        animation: 1s ease-out 0s 1 slideInFromLeft;
        display: block;
        z-index: 0;
        position: relative;
        top: -3em;
        width: 120%;
        height: 150px;
        transform: skew(-20deg);
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        transition: transform 0.9s;
        background: #241f20;
        /* https: //codepen.io/sdthornton/pen/wBZdXq */
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    }