/* Mainly just for Landing Page*/

.header-landing {
    background-image: url("../static/images/5327B/5327decal.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: auto;
    opacity: 0.4;
}

.title {
    margin: 0;
    font-family: "Product Sans";
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 5em;
    /* font-size: 275%; */
    display: block;
    z-index: 1;
    position: center;
    transform: skew(20deg);
    margin-left: 13px;
    padding: .2em;
}

.landing-title {
  margin: 0;
  font-family: "Darker Grotesque";
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-size: 9em;
  /* font-size: 275%; */
  display: block;
  z-index: 1;
  position: center;
  margin-left: 13px;
  padding: .2em;
  margin-top: -0.2em;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}

.titleCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
}

.landing-elements{
  position: absolute;
  margin-top: -40em;
  margin-left: 10em;
}

.more-info{
  background-color: #241f20;
  color: white;
  text-decoration: none;
  font-family: "Darker Grotesque";
  font-size: 2em;
  padding: 0.7em;
  padding-top: 0.5em;
  margin-left: 100%;
  display:inline-block;
  border-radius: 10px;
  width: 5.0em;
}

.titleBackground{
    padding: 10px;
    display: block;
    position: relative;
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background-color: #241f20;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.landingBackground{
    padding: 10px;
    position: relative;
    transform: skew(-20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: #241f20;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    width: 33em;
    display:inline-block;
}

/* General Stuff */

    .teamTitle {
        font-size: 3em;
        margin-left: 1em;
        margin-top: 2em;
        font-family: 'Darker Grotesque', sans-serif;
    }
    .teamTitle2 {
        font-size: 3em;
        margin-top: 2em;
        font-family: 'Darker Grotesque', sans-serif;
        margin-bottom: 1em;
    }

    .container{
      width: 100em !important;
    }

    .margin_awards{
      margin-left: 5em;
    }

    .gradientBackgroundText{
        background: linear-gradient(45deg, #216ae0, #d10300);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .contentContainer{
        margin: 2em 6em;
        margin-bottom: 5em;
    }

    .contentTitle{
        font-family: 'Product Sans', sans-serif;
        font-size: 3em;
        font-weight: normal;
    }

    .bodyText{
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 1.7em;
        color: white;
        display: block;
        margin: 3em;
        margin-top: 1em;
        line-height: 1.5em;
        font-weight: 100;
    }

    .bodyText2{
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 1.7em;
        color: white;
        display: block;
        line-height: 1.5em;
        font-weight: 100;
    }

    .themeBackground{
        background-color: #191919;
    }

    .secondaryBackground{
        background-color: #241f20
    }

    .bold{
        background: linear-gradient(45deg, #216ae0, #d10300);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        font-weight: bold;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .whiteText{
        color: white;
    }

/* Robot Section */

.robotImg{
  margin:2.5em;
  margin-left: 0em;
  margin-bottom: 26px;
  margin-right: 4em;
  width: 40vw;
  height: auto;
  display: inline-block;
  float: left;
}

/* Awards Section */

    .excellence{
        color: gold;
    }

    .awardsList{
        margin-left: 1.2em;
    }

/* Member Bios Section */
    .new_container{
      margin-bottom: 6em;
    }

    .imgContainer{
        margin-bottom: 5vh;
        margin-top: 2vh;
        padding: 2em;
        border-radius: 25px;
        border-style: solid;
        border-color: white;
        float: none;
    }

    .imgText{
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 1.7em;
        color: white;
        display: inline;
    }

    .imgText2{
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 1.7em;
        color: white;
        display: inline-block;
        margin-top: 2em;
    }

    .roundImg{
        margin-top: 1em;
        border-radius: 100%;
        display: inline-block;
        float: left;
        margin-right: 5em;
        margin-left: 3em;
    }
    hr{
      width: 80%;
      color: #adadad !important;
      opacity: 0.1;
    }
    .Aboutcontainer{
      margin-left: 5em;
      margin-top: 5em;
      margin-bottom: 15em;
    }


/* jank way to make sure that Rishi's navbar goes over current page*/

    .top{
        z-index: 5;
    }
    .bottom{
        z-index:0;
    }


/* anish's code; not 100% working w/ other parts yet */

    .parallelogram-back {
        animation: 1s ease-out 0s 1 slideInFromLeft;
        display: block;
        z-index: 0;
        position: relative;
        top: -3em;
        width: 120%;
        height: 150px;
        transform: skew(-20deg);
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        transition: transform 0.9s;
        background: #241f20;
        /* https: //codepen.io/sdthornton/pen/wBZdXq */
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
